<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/lib/js/head.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/js/reveal.js"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/reveal.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.3.0/css/theme/white.css" id="theme">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<%= render 'slide', header: 'Our Story',													
														paragraph: 'We met in a hopeless place: ATO, a dilapidated college house.',
														image: 'https://pbs.twimg.com/media/ByvyoUpCMAASqJX.jpg' %>
				<%= render 'slide', paragraph: 'We played beer pong. (Kevin won..twice)',
														image: 'http://collegexperience.net/wp-content/uploads/2016/11/beer-pong.jpg' %>
				<%= render 'slide', paragraph: 'She made a Lord of the Rings quote.',
														image: 'http://s2.quickmeme.com/img/69/6926853b67558cc8275646e96cf9d8dcadd868b239c30fbc4181492671b9d508.jpg' %>
				<%= render 'slide', paragraph: 'And a week later, on September 11th 2013, while Nikki was taking care of a concussed Kevin, we started officially dating.',
														image: 'https://thumbs.gfycat.com/RapidWateryCod-max-1mb.gif' %>														
				<%= render 'slide', paragraph: 'We had a great fall with many memories, like hiking and Nikki\'s first legal drink.',
														image: image_url('nikki_first_drink.jpg') %>
				<%= render 'slide', paragraph: 'And then Nikki was off to South Africa for 6 months.',
														image: image_url('nikki_sa.jpg') %>
				<%= render 'slide', paragraph: 'Halfway through, we were lucky enough to spend a week together when Kevin visited Nikki for Spring Break.',
														image: image_url('kev_nikki_sa.jpg') %>
				<%= render 'slide', paragraph: 'A couple long months later, we were reunited and back in LA. We had a ton of adventures, and it was like no time had passed ❤️',
														image: image_url('no_time_passed.jpg') %>
				<%= render 'slide', paragraph: 'We went to Vancouver',
														image: image_url('vancouver.jpg') %>
				<%= render 'slide', paragraph: 'And a cruise to Mexico',
														image: image_url('mexico.jpg') %>
				<%= render 'slide', paragraph: 'Then, we moved in together and promptly rescued our first cat, Kaya.',
														image: "#{image_url('kaya.jpg')}" %>
				<%= render 'slide', paragraph: 'We went to Ireland with Kevin\'s family.',
														image: image_url('ireland.jpg') %>
				<%= render 'slide', paragraph: 'Rescued our second cat, Colby.', 
														image: image_url('colby.jpg') %>
				<%= render 'slide', paragraph: 'And then went to New York to meet Nikki\'s extended family.',
														image: image_url('new_york.jpg') %>
				<%= render 'slide', paragraph: 'Before we knew it, we\'d been together for 3 years! When we were celebrating the occasion Kevin popped the question and Nikki said yes on September 12, 2016.',
														image: image_url('engagement.jpg') %>
				<%= render 'slide', paragraph: 'And now we are so excited to celebrate our special day with you!' %>
			</div>
		</div>
		<script>
			Reveal.initialize({height: "100%", width: "100%"});
		</script>
	</body>
</html>